// colors
$white: #ffffff;
$black: #333333;
$gray1: #ececec;
$gray2: #f8f8f8;
$gray3: #D9D9D9;
$gray4: #979797;
$gray5: #d8d8d8;
$cyan1: #6DCEDB;
$cyan2: #00b0ca;

$background-color:  $gray1;
$even-rows:         $gray2;
$hover:             $cyan1;
$header-text:       $cyan2;
$border:            $gray3;
$pager-text:        $gray4;
$pager_background:  $gray5;
// fonts
$cell_font_weight: bold;

//layout
$scrollBreakpoint: 1400px;
